
# add provider file
Final_task/terraform/provider.tf

Final_task/terraform/.terraform.lock.hcl
Final_task/terraform/.terraform

Final_task/terraform/terraform.tfstate
Final_task/terraform/.terraform.tfstate.lock.info
Final_task/terraform/terraform.tfstate.backup

Final_task/ansible/keys